# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
frontend/node_modules/
firebase-config.json 
# Build output
dist/
dist-ssr/
frontend/build/

.env
*.local
.env.*

# OS files
.DS_Store
Thumbs.db

# .gitignore

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env or system-specific config
*.local
